*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: hwb(0 25% 2%);
}
h3{
    color: hwb(0 25% 2%);
}
body{
    background-color: rgb(243, 227, 228);
}
article{
    background-image: linear-gradient(to right, rgb(33, 33, 109), rgb(243, 227, 228), rgb(222, 78, 78));
}
header {
    color: hwb(0 25% 2%);
    background-image: url("https://c4.wallpaperflare.com/wallpaper/1009/918/359/pink-sky-france-paris-purple-sky-wallpaper-preview.jpg");
background-size: cover;
}
a{
    color: lightseagreen;
}